body {
    background-color: #444;
    overflow: hidden;
}

#content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: calc(100vh - 5rem - 40px);

    background-color: green;
    border-radius: 10px;
    overflow: hidden;
}

#p5-container {
    overflow: hidden;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 80px);
    background-color: #222;
}

#p5-canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5-canvas > canvas {
    border-radius: 5px;
}

#panels-container {
    width: 120px;
    background-color: #111;
    z-index: 100;

    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.panel-item {
    position: relative;
    color: #AAA;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;

    background-color: #222;
    cursor: pointer;
}

.expandable-panel {
    padding: 1rem 1.5rem;
    background-color: rgba(100,100,100,0.8);
    color: #DDD;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: left;
    
    position: absolute;
    width: 400px;
    top: 0;
    left: 140px;
    visibility: hidden;
}

.panel-item:hover > .expandable-panel, .panel-item.keep > .expandable-panel {
    visibility: visible;
}

form {
    display: flex;
    gap: 1em;
}

input[type="number"] {
    width: 3em;
}

#myChart{
    height: 95% !important;
    width: 95% !important;
}

@media (max-width: 1000px) {
    body {
        overflow-y: auto;
    }
    #content-container {
        flex-direction: column;
        align-items: center;
    }
    #p5-container {
        width: 95%;
        padding: 20px;
    }
    #panels-container {
        width: 80%;
    }
}